
/* =============================================
 * Setting
 * ============================================= */

@import '../vars/_setting';
@import '../vars/_color';

/* =============================================
 * Background
 * ============================================= */

.bg-green-sea    { background-color: $color-green-sea; }
.bg-turouoise    { background-color: $color-turouoise; }
.bg-emerland     { background-color: $color-emerland; }
.bg-nephritis    { background-color: $color-nephritis; }
.bg-pink         { background-color: $color-pink; }
.bg-dark-pink    { background-color: $color-dark-pink; }
.bg-amethyst     { background-color: $color-amethyst; }
.bg-wisteria     { background-color: $color-wisteria; }
.bg-clouds       { background-color: $color-clouds;  }
.bg-white        { background-color: $color-white; }
.bg-black        { background-color: $color-black; }

.bg-orange        { background-color: $color-orange; }
.bg-rss           { background-color: $color-rss; }
.bg-sun-flower    { background-color: $color-sun-flower; }
.bg-carrot        { background-color: $color-carrot; }
.bg-googleplus    { background-color: $color-googleplus; }
.bg-pomegranate   { background-color: $color-pomegranate; }
.bg-red           { background-color: $color-red; }
.bg-dark-red      { background-color: $color-dark-red; }

.bg-light-blue    { background-color: $color-light-blue; }
.bg-blue          { background-color: $color-blue; }
.bg-skype         { background-color: $color-skype; }
.bg-belize-hole   { background-color: $color-belize-hole; }
.bg-facebook      { background-color: $color-facebook; }
.bg-midnight-blue { background-color: $color-midnight-blue; }
.bg-wet-asphalt   { background-color: $color-wet-asphalt; }
.bg-concrete      { background-color: $color-concrete; }
.bg-asbestos      { background-color: $color-asbestos; }
.bg-silver        { background-color: $color-silver; }

.bg-transparent   { background-color: $color-transparent; }
