
/* =============================================
 * Setting
 * ============================================= */

@import '../vars/_setting';
@import '../vars/_color';

/* =============================================
 * Color
 * ============================================= */

.color-green-sea     { color: $color-green-sea; }
.color-turouoise     { color: $color-turouoise; }
.color-emerland      { color: $color-emerland; }
.color-nephritis     { color: $color-nephritis; }
.color-pink          { color: $color-pink; }
.color-dark-pink     { color: $color-dark-pink; }
.color-amethyst      { color: $color-amethyst; }
.color-wisteria      { color: $color-wisteria; }
.color-clouds        { color: $color-clouds; }
.color-white         { color: $color-white; }
.color-black         { color: $color-black; }
 
.color-orange        { color: $color-orange; }
.color-rss           { color: $color-rss; }
.color-sun-flower    { color: $color-sun-flower; }
.color-carrot        { color: $color-carrot; }
.color-googleplus    { color: $color-googleplus; }
.color-pomegranate   { color: $color-pomegranate; }
.color-red           { color: $color-red; }
.color-dark-red      { color: $color-dark-red; }

.color-light-blue    { color: $color-light-blue ; }
.color-blue          { color: $color-blue; }
.color-skype         { color: $color-skype; }
.color-belize-hole   { color: $color-belize-hole; }
.color-facebook      { color: $color-facebook; }
.color-midnight-blue { color: $color-midnight-blue; }
.color-wet-asphalt   { color: $color-wet-asphalt; }
.color-concrete      { color: $color-concrete; }
.color-asbestos      { color: $color-asbestos; }
.color-silver        { color: $color-silver; }

.color-success       { color: $color-success; }
.color-warning       { color: $color-warning; }
.color-info          { color: $color-info; }
.color-error         { color: $color-error; }

.color-transparent   { color: $color-transparent; }