
/* =============================================
 * Setting
 * ============================================= */

@import '../vars/_setting';

/* =============================================
 * Container
 * ============================================= */

.container, .container-fluid { 
    margin: 0; 
    padding: 0;
    width: 100%; 
    position: relative;
    clear: both; 
}
.container { 
    margin: 0 auto;
    max-width: $max-width;
    display: block; 
}
.container-fluid { 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (min-width: $max-width) {
    .container { padding:0 10px; }
}