
/* =============================================
 * Setting
 * ============================================= */

@import '../vars/_setting';

/* =============================================
 * display 
 * ============================================= */

.display-none          { display: none; }
.display-block         { display: block; }
.display-inline        { display: inline; }
.display-inline-block  { display: inline-block; }
.display-table         { display: table; }
.display-inline-table  { display: inline-table; }
.display-list          { display: list-item; }
