
/* =============================================
 * Setting
 * ============================================= */

@import '../vars/_setting';
@import '../vars/_font';

/* =============================================
 * Include
 * ============================================= */

/* font */
@font-face { font-family: 'supermarket';
    src: url('../fonts/super_market/supermarket.eot?v=0.0.1');
    src: url('../fonts/super_market/supermarket.eot?#iefix&v=0.0.1') format('embedded-opentype'),
         url('../fonts/super_market/supermarket.woff?v=0.0.1') format('woff'),
         url('../fonts/super_market/supermarket.ttf?v=0.0.1') format('truetype'),
         url('../fonts/super_market/supermarket.svg?v=0.0.1#supermarket') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face { font-family: 'th_angsanaupc';
    src: url('../fonts/angsana_upc/angsana-upc.eot?v=0.0.1');
    src: url('../fonts/angsana_upc/angsana-upc.eot?#iefix&v=0.0.1') format('embedded-opentype'),
         url('../fonts/angsana_upc/angsana-upc.woff?v=0.0.1') format('woff'),
         url('../fonts/angsana_upc/angsana-upc.ttf?v=0.0.1') format('truetype'),
         url('../fonts/angsana_upc/angsana-upc.svg?v=0.0.1#th_angsanaupc') format('svg');
    font-weight: normal;
    font-style: normal; }
@font-face { font-family: 'th_baijam';
    src: url('../fonts/th_baijam/th_baijam.eot.eot?v=0.0.1');
    src: url('../fonts/th_baijam/th_baijam.eot?#iefix&v=0.0.1') format('embedded-opentype'),
         url('../fonts/th_baijam/th_baijam.woff?v=0.0.1') format('woff'),
         url('../fonts/th_baijam/th_baijam.ttf?v=0.0.1') format('truetype'),
         url('../fonts/th_baijam/th_baijam.svg?v=0.0.1#th_baijam') format('svg');
    font-weight: normal;
    font-style: normal; }

@font-face { font-family: 'nunito';
    src: url('../fonts/nunito/nunito-300.woff2?v=0.0.1') format('woff2');
    font-style: normal;
    font-weight: 300;
}
@font-face { font-family: 'nunito';
    src: url('../fonts/nunito/nunito-400.woff2?v=0.0.1') format('woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face { font-family: 'nunito';
    src: url('../fonts/nunito/nunito-700.woff2?v=0.0.1') format('woff2');
    font-style: normal;
    font-weight: 700;
}

/* =============================================
 * Font
 * ============================================= */

.font-supermarket { font-family: $font-supermarket, $font-sans-serif; }
.font-baijam      { font-family: $font-baijam, $font-sans-serif; }
.font-angsana     { font-family: $font-angsana, $font-sans-serif; }
.font-nunito      { font-family: $font-nunito, $font-sans-serif; }
.font-tahoma      { font-family: $font-tahoma, $font-sans-serif; }
.font-sans-serif  { font-family: $font-sans-serif; }

/* text align */
.text-left     { text-align: left; }
.text-right    { text-align: right; }
.text-center   { text-align: center; }
.text-full     { text-align: justify; }
.text-nowrap   { white-space: nowrap; }
.text-low      { text-transform: lowercase; } /* font low */
.text-up       { text-transform: uppercase; } /* font up */
.text-first-up { text-transform: capitalize; } /* font first-up */