
/* =============================================
 * Setting
 * ============================================= */

@import '../vars/_setting';
@import '../vars/_color';

/* =============================================
 * Link
 * ============================================= */

a { 
    &:link, &:active, &:hover, &:visited { text-decoration: none; }
    &:hover { color: $color-orange; }
    text-decoration: none; 
    transition: color 200ms; 
    cursor: pointer; 
}