
/* =============================================
 * Setting
 * ============================================= */

/* @import 'setting'; */

/* =============================================
 * Color
 * ============================================= */

$color-green-sea     : #16A085;
$color-turouoise     : #1ABC9C;
$color-emerland      : #2ECC71;
$color-nephritis     : #27AE60;
$color-pink          : #E91E63;
$color-dark-pink     : #C2185B;
$color-amethyst      : #9B59B6;
$color-wisteria      : #8E44AD;
$color-clouds        : #ECF0F1;
$color-white         : #FFFFFF;
$color-black         : #212121;

$color-orange        : #F39C12;
$color-rss           : #F26522;
$color-sun-flower    : #F1C40F;
$color-carrot        : #E67E22;
$color-googleplus    : #DB4437;
$color-pomegranate   : #C0392B;
$color-red           : #F44336;
$color-dark-red      : #D32F2F;

$color-light-blue    : #03A9F4;
$color-blue          : #2196F3;
$color-skype         : #00AFF0;
$color-belize-hole   : #2980B9;
$color-facebook      : #3B5998;
$color-midnight-blue : #2C3E50;
$color-wet-asphalt   : #34495E;
$color-concrete      : #95A5A6;
$color-asbestos      : #7F8C8D;
$color-silver        : #BDC3C7;

$color-success       : #2ECC71;
$color-warning       : #F39C12;
$color-info          : #2196F3;
$color-error         : #F44336;

$color-transparent   : transparent;