
/* =============================================
 * Setting
 * ============================================= */

/* @import '_setting'; */

/* =============================================
 * Font
 * ============================================= */

$font-supermarket  : 'supermarket';        
$font-baijam       : 'th_baijam';      
$font-angsana      : 'th_angsanaupc';         
$font-nunito       : 'nunito';             
$font-tahoma       : 'tahoma';               
$font-sans-serif   : 'sans-serif';
$font-bangna-new   : 'bangna_new';