
/* =============================================
 * Setting
 * ============================================= */

$max-width          : 1280px;
$min-width          : 768px;

$max-column         : 12;
$base-bg-color      : #FFFFFF;

$base-font-size     : 1rem !default;
$base-line-height   : 1.6 !default;
$base-font-color    : #2C3E50;

$margin             : 5px;
$padding            : 5px;